<% wrap_layout :layout do %>
  <%= partial "partials/header" %>
  <%= partial "partials/hero" %>
  <div class="row">
    <div class="large-12 columns">
      <div class="panels">
        <div class="section-container tabs" data-section="tabs">
          <section class="active">
            <p class="title" data-section-title><a href="#">Beneficios</a></p>
            <div class="content" data-section-content>
              <%= partial "partials/beneficios" %>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#">Condiciones</a></p>
            <div class="content" data-section-content>
              <div class="row">
                <div class="large-6 columns">
                  <%= yield_content :columna_1_top %>
                  <%= partial "partials/condiciones_columna_1" %>
                  <%= yield_content :columna_1_bottom %>
                  <p>Registro en SUGESE: <%= current_page.data.numero_de_producto %></p>
                </div>
                <div class="large-6 columns">
                  <%= yield %>
                  <%= partial "partials/condiciones_columna_2" %>
                  <%= yield_content :columna_2_bottom %>
                </div>
              </div>
              <%= partial "partials/condiciones" %>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#">Requisitos</a></p>
            <div class="content" data-section-content>
              <%= partial "partials/requisitos" %>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <%= partial "partials/productos_relacionados" %>
  <%= partial "partials/footer" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/js/vendor/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
<% end %>
