---
title: Índice de páginas
layout: layout
---
<div class="row">
  <div class="large-10 large-offset-1 columns">
    <h1><%= current_page.data.title %></h1>
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Requisitos</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <% sitemap.resources.each do |r| %>
          <% unless r.data.title.nil? or r.data.title == "Índice de páginas" or r.data.title == "Tarjeta Automercado American Express®"%>
            <tr>
              <td><a target="_blank" href="<%= r.url %>"><%= r.data.title %></td>
              <td><%= r.data.requisitos.nil? ? "No" : "Sí" %></td>
              <td><%= r.data.hero_text.nil? ? "No" : "Sí" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
